

.log_out {
  float: right;

}

.new_post {
  float: right;
  margin-right: 20px;
}
// 上ヘッダーの指定

div.a_tweet {
  width: 80%;
  margin-left: 3%;
  height: 220px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
 
  .content_post {
    
    width: 100%;
    height: 220px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #f5e2b5;
    border-left: solid 10px #ffc06e;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 35px;
    padding: 18px;

      .text_box {
        position: relative;
        text-align: center;
        width: 95%;
        height: 140px;
        border: solid 1px;
        margin: 0 auto;
        font-weight: bold;
        color: #2225c7;/*文字色*/
        background: #f1cc73;
        border: solid 3px  #f1cc73;/*線*/
        border-radius: 10px;/*角の丸み*/
        word-break: break-all;
        text-align: left;
        font-family: 'Century Gothic';

        div.author_name{
          position: absolute;
          bottom: 0;
          font-size: 20px;
          color: gray;
          right: 0;
        }

      }

    .tweet_buttons {
      height: 50px;
      width: 80px;
      margin: 0 auto;
      font-size: 30px;
      display: inline;
      text-align: center;
      
      .delete_button {
        width: 47.5%;
        float: left;
        line-height: 55px;
        background-color: rgba(230, 210, 33, 0.866);
        margin-left: 2.5%;
        color: beige;
        border: solid 1px black;
      }

      .delete_button:hover {
        background-color: #998bfa;
      }

      .edit_button {
        float: right;
        width: 47.5%;
        line-height: 55px;
        background-color: rgba(230, 210, 33, 0.866);
        margin-right: 2.5%;
        color: beige;
        border: solid 1px black ;
      }
      .edit_button:hover {
        background-color: #998bfa;
      }
    }
  }
}
.search_nickname {
  background-color: #f5e2b5;
  color: black;
  position: relative;
  top: 0px;
  height: 40px;
}
.btn-search {
  border: black solid 1px;
  width: 30px;
  height: 30px;;
}